@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body{
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #EFEAE7;
  color:#59595B;
}

a{
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;
}

.helptext{
  font-size: 15px;
  margin-bottom: 25px;
}

input{
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

.signupForm>input{
  margin-bottom: 0;
}

input[type=submit]{
  cursor: pointer;
  background-color: #2F4D4B;
}

.menuLink{
  color:#59595B;
  font-size: 25px;
  padding: 10px;
}

.menuButton{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menuLink:hover{
  color: #844A36;
}

.pageWrap{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid #BE8760;
}

.main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardMain{
  flex-direction: column;
}

input[type=submit].packButton{
  background-color: #C48D64;
  padding: 30px;
}

input[type=submit].packButton:hover{
  opacity: 0.8;
}

.packMain{
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 10px;
  color: #8A4C37;
}

.packName, .addNewCard{
  align-self: flex-start;
}

.addNewCard{
  color: #2A4846;
}

.addNewCard:hover{
  opacity: 0.8;
}

.card{
  display: flex;
  align-items: center;
}

.card>h2{
  padding-right: 20px;
}

input[type=submit].deleteButton{
  margin: 0;
  font-size: 10px;
  color: white;
}

input[type=submit].deleteButton:hover{
  opacity: 0.8;
}

.cardWrapper{
  padding-top: 50px;
  color:#59595B;
}

.createMain{
  flex-direction: column;
}

.create:hover{
  opacity: 0.8;
}
