{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
  <title>Login</title>
</head>
<body>
  <div class="pageWrap">
    <div class="header">
      {% if user.is_authenticated %}
      <form action="/accounts/logout/" method="post">
        {% csrf_token %}
        <button class="menuLink menuButton" type="submit"> Log out </button>
      </form>
      {% else %}
        <a class="menuLink" href="{% url 'accounts:homepage'%}"> Home </a>
        <a class="menuLink" href="{% url 'accounts:signup'%}"> Signup </a>
      {% endif %}
    </div>

    <div class="main">
      <form action="/accounts/login/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Log in">
      </form>
    </div>

  </div>
</body>
</html>
