{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
  <title>Sign up</title>
</head>
<body>
  <div class="pageWrap">
    <div class="header">

    </div>
    <div class="main">
      <form class="signupForm" action="/accounts/signup/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Sign up">
      </form>
    </div>
  </div>
</body>
</html>
