{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Add card</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
</head>
<body>
  <div class="pageWrap">
    <div class="header">
      {% if user.is_authenticated %}
      <form action="/accounts/logout/" method="post" class="navFlex">
        {% csrf_token %}
        <button class="menuLink menuButton" type="submit">Log out</button>
        <a class="menuLink" href="{% url 'cards:openPack'%}"> Dashboard </a>
      </form>
      {% else %}
        <a class="menuLink" href="{% url 'accounts:login'%}"> Login </a>
        <a class="menuLink" href="{% url 'accounts:signup'%}"> Signup </a>
      {% endif %}
    </div>
    <div class="main createMain">
      <h1>Add a card</h1>
      <form action="/cards/create/" method="post">
        {% csrf_token %}
        <input type="hidden" name="packId" value="{{request.GET.name}}"/>
        <input type="text" name="cardText" placeholder="Question" />
        <input class="create" type="submit" value="Create">
      </form>
    </div>
  </div>
</body>
</html>
