{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
</head>
<body>
  <div class="pageWrap">
    <div class="header">

      {% if user.is_authenticated %}
      <form action="/accounts/logout/" method="post">
        {% csrf_token %}
        <button class="menuLink menuButton" type="submit">Log out</button>
      </form>
      {% else %}
        <a class="menuLink" href="{% url 'accounts:login'%}"> Login </a>
        <a class="menuLink" href="{% url 'accounts:signup'%}"> Signup </a>
      {% endif %}

    </div>
    <div class="main dashboardMain">
      <div class="cards">
        <form action="/cards/pack/" method="post" class="cardsForm">
          {% csrf_token %}
          <div class="cardBg">
            <input class="packButton" type="submit" name="friendship" value="Friendship" />
          </div>
          <div class="cardBg">
            <input class="packButton" type="submit" name="relationship" value="Relationship" />
          </div>
          <div class="cardBg">
          <input class="packButton" type="submit" name="family" value="Family" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
