{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
</head>
<body>
  {% if user.is_authenticated %}

  <form action="/accounts/logout/" method="post">
    {% csrf_token %}
    <button type="submit">logout</button>
  </form>
  {% else %}

    <a href="{% url 'accounts:login'%}"> Login </a>
    <a href="{% url 'accounts:signup'%}"> Signup </a>

  {% endif %}

	<h1>These are the packs</h1>
  <div class="cards">
    <form action="/cards/pack/" method="post">
      {% csrf_token %}
      <input type="submit" name="friendship" value="Friendship pack" />
      <input type="submit" name="relationship" value="Relationship pack" />
      <input type="submit" name="family" value="Family pack" />
    </form>
  </div>
</body>
</html>
