{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Playcards</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">
</head>
<body>
  {% if user.is_authenticated %}

  <form action="/accounts/logout/" method="post">
    {% csrf_token %}
    <button type="submit">logout</button>
  </form>

  <a href="{% url 'cards:create' %}">Add new card</a>

  {% else %}

    <a href="{% url 'accounts:login'%}"> Login </a>
    <a href="{% url 'accounts:signup'%}"> Signup </a>

  {% endif %}

	<h1>These are the cards</h1>
  <div class="cards">
  {% for card in usersCards %}
    <div class="card">
      <h2> {{ card.cardText }}</h2>
    </div>
  {% endfor %}
  </div>

  <div>
  {% for card in defaultCards %}
    <div class="card">
      <h2> {{ card.cardText }}</h2>
    </div>
  {% endfor %}
  </div>
</body>
</html>
